# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment-specific files
.env
.env.*

# Ignore editor-specific files and directories
.vscode/
.idea/
*.swp
*~

# Ignore build artifacts
build/
dist/

# Ignore local development settings
*.sqlite3
*.db
*.sqlite

# Ignore the venv file
bin/
include/
lib/
lib64
pyvenv.cfg